<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/vjpatel.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <h2 class="title purple-color">Facilities: </h2>
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">
                                        વિશાળ ગ્રાઉન્ડ. </h4>
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    <h4 class="title">
                                        હવા ઉજાસવાળા ક્લાસરૂમ.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">જીમ્નાસ્ટીક રૂમ.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">પ્રયોગશાળા.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">
                                        આધુનિક કોમ્પયુટર લેબ. </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    <h4 class="title">
                                        આધુનિક પુસ્તકાલય.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">દરેક રમત- ગમતના સાધનો.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">ઈ.ટી.લેબ.</h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title">વિશાળ કોન્ફરન્સ હોલ.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section End -->