<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/vjpatel.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <!-- <div class="sub-title">
                        About us
                    </div> -->
                    <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2>
                    <!-- <div class="bold-text mb-22"> {{subtitle}} </div> -->
                    <p class="desc mb-45">
                        ચરોતર એજ્યુકેશન સોસાયટીના ભીષ્મપીતામહ એવા પરમ પૂજ્ય શ્રી વિઠ્ઠલકાકાએ સંસ્થાના વિકાસમાં ખુબજ
                        મહત્વનો ફાળો આપ્યો છે. તેઓએ પોતાના શિક્ષણકાળ દરમ્યાન વિદ્યાર્થીઓનો અમૂલ્ય વિકાસ અને સાથે સાથે
                        સમાજમાં પણ કેવી રીતે વિદ્યાર્થીઓ પોતાના જીવનનો ઉપયોગ સુવ્યવસ્થિત અને સુંદર આયોજન દ્વારા પોતાના
                        ધ્યેય સિધ્ધ કરે તે માટે પરમ પૂજ્ય શ્રી વિઠ્ઠલકાકા એ પોતાનુ સમગ્ર જીવન આ સંસ્થાને સમર્પિત કરી
                        દીધું. શ્રી વિઠ્ઠલભાઈ જેઠાભાઈ પટેલ જેઓ ડી.એન હાઈસ્કૂલના આચાર્ય તરીકે તથા ચરોતર એજ્યુકેશન સોસાયટી
                        ના મંત્રી તરીકે કાર્યરત રહ્યા. પોતાનામાં સર્વગુણ, પરિશ્રમ, કુશાગ્ર બુદ્ધિ, કુશળ સંચાલન, વહીવટી
                        શક્તિ, જનસેવા, નિ:સ્વાર્થ સેવા પરાયણતા વગેરે દ્વારા તેઓએ સંસ્થાનો ઉમડો વિકાસ સાધ્યો.

                        જેથી કરીને સંસ્થાના આવા એક નીડર સાહસિક અને હિમંતવાન માણસ ઉચ્ચ વિચારો પરીપૂર્ણ કરવા માટે વર્ષ
                        ૨૦૦૭ માં તા. ૩/૩/૨૦૦૭ ના રોજ મોગરી કેમ્પસ ખાતે તેઓના શુભ નામથી કોલેજની સ્થાપના કરવામાં આવી.
                    </p>
                    <p><b>“ શ્રી વી.જે. પટેલ કોલેજ ઓફ ફીઝીકલ એજ્યુકેશન”</b></p>
                    <p>એન.સી.ટી.ઈ. દ્વારા કોલેજને માન્યતા આપવામાં આવી અને વર્ષ ૨૦૦૬ માં સરદાર પટેલ યુનિવર્સીટીમાં જોડાયા અને ત્યારબાદ કોલેજમાં અધ્યાપકો તેમજ આચાર્યની નિમણુંક કરવામાં આવી.</p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->