<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-7">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>ઈત્તર પ્રવુતિઓ:</h5>
                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature">વિદ્યાર્થીઓને માનસિક તણાવ ઓછો થાય, શારીરિક તન્દુરસ્તી
                                        જળવાય રહે, વિદ્યાર્થીઓમાં
                                    </li>

                                    <li class="quizzes-feature">
                                        કામ-કાજ કરવાની આવડત તથા તેના વ્યવહારમાં સુધારો થાય તેવી ઈત્તર પ્રવુતિઓનું આયોજન
                                        કરવામાં આવે છે. જેવા કે,
                                    </li>
                                    <li>મનોરંજન અને સાહસિક પ્રવુતિઓ</li>
                                    <li>વ્યાયામ અને ફીટનેશ કાર્યક્રમ</li>
                                    <li>રમત કાર્યક્રમોનું આયોજન</li>
                                    <li>કેમ્પસમાં વૃક્ષારોપણ, વૃક્ષોને પાણી આપવાનું તથા સાફ-સફાઈ જેવા કાર્યક્રમોનું
                                        આયોજન કરવામાં આવે છે.</li>

                                </ul>

                                <h5>સહ – અભ્યાસક્રમ પ્રવુતિઓ: </h5>
                                <p>શારીરિક વિકાસની પ્રવુતિ, સાંસ્કૃતિક વિકાસની પ્રવુતિ, ભાવનાત્મક વિકાસની પ્રવુતિ, નૈતીક
                                    વિકાસની પ્રવુતિ, શૈક્ષણિક વિકાસની પ્રવુતિ, સામાજીક વિકાસની પ્રવુતિ તથા વ્યક્તિત્વ
                                    વિકાસની સહ – અભ્યાસક્રમ પ્રવુતિઓનાં કાર્યક્રમનું આયોજન થાય છે. જેમ કે,</p>
                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature">પાઠ આયોજન
                                    </li>

                                    <li class="quizzes-feature">આંતરિક સ્પર્ધાઓ
                                    </li>
                                    <li>બાહ્ય સ્પર્ધાઓ</li>
                                    <li>વાર્ષિક રમતોત્સવ
                                    </li>
                                    <li>રમતોની સ્પર્ધાઓમાં પંચકાર્ય
                                    </li>
                                    <li>ઇન્ટરન્શીપ કાર્યક્રમ</li>
                                    <li>વિવિધ દિવસોની ઉજવણી</li>
                                    <li>મેદાન અંકન</li>
                                </ul>
                                <h5>અન્ય વિશેષતાઓ</h5>

                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature">સૌની સાથે હળીમળીને રહેવું.
                                    </li>

                                    <li class="quizzes-feature">
                                        કોઈને તકલીફ ન થાય તેનું ધ્યાન રાખવું.
                                    </li>
                                    <li>સાચું બોલવું.</li>
                                    <li>વડીલોનો આદર કરવો. તેમની આજ્ઞાનું પાલન કરવું.
                                    </li>
                                    <li>પીડિત, નિર્બળ રોગીઓની મદદ કરવી.
                                    </li>
                                    <li>સર્વ પશુ, પંખી, પ્રાણી પર દયાભાવ રાખવો.</li>
                                </ul>
                                <p>જગતમાં તમારે તરવું હોય તો હાથપગ પર ભરોસો રાખો, મહેનત સાથે મહોબત રાખો, જેનું શરીર
                                    કેળવાય છે તેનું મગજ પણ સાથોસાથ ખીલે છે. બુદ્ધિનો એકલો વિકાસ નકામો છે. તેથી જગતને
                                    ફાયદો નથી. બુદ્ધિ સાથે શારીરિક શ્રમ માટેનો પ્રેમ ખીલવો જોઈએ, ઉદ્યોગ અને વિદ્યાનો એક
                                    તાર થતા અદભુત શક્તિ ઉત્પન્ન થાય છે.</p>
                                    <p>--- સરદાર પટેલ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-5">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>QUICK LINKS:</h5>
                                <ul style="list-style-type: decimal;">
                                    
                                    <li>
                                        <b>Link for New Admission</b>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/vjbped/images/Syllabus/BPED-01-opt-2020.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li>
                                        <b>National Council for Teacher Education</b>
                                        <span class="value">
                                            <a href="https://ncte.gov.in/Website/Index.aspx"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li>
                                        <b>University Grants Commission</b>
                                        <span class="value">
                                            <a href="https://www.ugc.ac.in/"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li>
                                        <b>Ministry of Human Resource Development</b>
                                        <span class="value">
                                            <a href="https://www.education.gov.in/en"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                </ul>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>