<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Ajitsinh Gohil
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>I have the utmost pleasure in stating that one of the top institutions for physical education is
                        Shri V.J.Patel College of Physical Education in Mogri, </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>Which is affiliated with Swarnim Gujarat
                        Sports University in Gandhinagar and approved by N.C.T.E. (National Council for Teacher
                        Education) in Bhopal. The institution is run by Charotar Education Society, Anand, and is
                        equipped with all the necessary tools, resources, and qualified staff to provide instruction and
                        coaching to eager learners and career enthusiasts. Physical education is offered as a one-year
                        professional course at the Shri V.J.Patel College of Physical Education in Mogri. There are 50
                        new students enrolled in this course.</p>
                </div>
            </div>
        </div>
    </div>
</section>